.jumbotron{
    background-image: url(../images/foggy_trees_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    padding: 2rem 2rem;
}

.display-3{
    color: gray;
    color: white;
}

.lead{
    color: rgb(61, 61, 61);
    color: white;
}